* {
  box-sizing: border-box;
}

:root {
  --darkest: #101010;
  --darker: #242424;
  --dark: #2a2a2a;
  --light: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, p, li, label {
  color: var(--light);
  line-height: 140%;
}

body {
  margin: 0;
  /* Keep footer at bottom */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-width: 100%;
  background-color: var(--darker);
}

main {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1600px;
  width: 100%;
}

header {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  background: var(--darkest);
}
nav ul {
  padding-left: 5px;
}
nav ul li {
  list-style: none;
  display: inline;
  margin: 0;
}
nav ul li a {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  color: var(--light);
  font-weight: bold;
  font-size: 1.5rem;
}
nav ul li:hover a {
  color: #5ccc61;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form select {
  max-width: 80ch;
  background-color: #404040;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--darkest);
  color: var(--light);
}

form input[type="submit"], button {
  border: none;
  width: fit-content;
  border-radius: 1rem;
  background: #f3f0f0;
  color: black;
  margin-top: .5rem;
  font-weight: bold;
}

button {
  padding: 0.6rem 0.3rem;
}
button:hover, form input[type="submit"]:hover {
  background-color: #f3f0f0c6;
  cursor: pointer;
}

form input:disabled {
  background-color: #4040407a;
  color: gray;
  cursor: not-allowed;
}

form label {
  margin-top: 0.8rem;
}

form label:first-child {
  margin-top: 0;
}

form .required::after {
  content: ' *';
  color: rgb(142, 0, 0);
}

form .error {
  color: rgb(235, 0, 0);
  margin: 0;
}

form textarea {
  max-width: 80ch;
  background-color: #404040;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--darkest);
  color: var(--light);
}

form input[type="checkbox"] {
  display: inline;
  width: fit-content;
}

/* Tabeller */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #222;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #434343;
}
tr:nth-child(odd) {
  background-color: #4a4949;
  color: #fff;
}

td {
  color: #fff;
}

/* Dialoger */
dialog {
  background-color: #2b2a2a;
  padding: 20px;
  border-radius: 10px;
}

dialog::backdrop {
  background-color: #00000062;
}

dialog h2 {
  margin: 0;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkest);
  font-size: 1.1em;
  margin-top: auto;
  width: 100%;
  height: 100px;
}
footer .copyright {
  color: #b4b4b4;
  margin: 0;
  text-align: center;
}